body {
    background-image: url("../images/background.jpg");
}

.header {
    width: 100%;
    padding: 25px;
    background-color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid black;
    
}

.rules {
    width: 25%;
    padding: 15px 30px;
    margin: 40px;
    background-color: white;
    font-family: 'Inconsolata', monospace;
    line-height: 1.5;
    border: 2px solid black;
}

#h2rules {
    font-size: 25px;
    text-decoration: underline;
}

li {
    list-style-type: circle;
}

#random-num {
    float: left;
    width: 125px;
    height: 85px;
    margin-left: 40px;
    padding-top: 40px;
    background-color: black;
    color: white;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 40px;
}

.wins-and-losses {
    float: left;
    width: 10%;
    height: 112px;
    margin-left: 223px;
    padding-top: 10px;
    background-color: white;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 22px;
    border: 2px solid black;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.crystals {
    margin-left: 40px;
    margin-top: 40px;
}

.crystal {
    margin-right: 39px;
    border: 2px solid black;
}

#h3score {
    width: 10%;
    margin-left: 40px;
    margin-top: 40px;
    padding: 10px;
    background-color: white;
    font-family: 'Inconsolata', monospace;
    border: 2px solid black;
}

#score-total {
    width: 10%;
    margin-left: 40px;
    margin-top: 5px;
    padding: 20px 10px;
    background-color: white;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 40px;
    border: 2px solid black;
}

#reset {
    margin-left: 41px;
}

#message {
    position: relative;
    left: 165px;
    bottom: 150px;
    width: 10%;
    height: 125px;
    margin-left: 223px;
    background-color: white;
    color: black;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    border: 2px solid black;
}